{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": "off",
    "eol-last": "error",
    "object-property-newline": 2,
    "semi": 2,
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "object-curly-spacing": [
      2,
      "always"
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 1
      }
    ],
    "react/jsx-first-prop-new-line": [
      1
    ],
    "indent": [
      "error",
      2,
      { "SwitchCase": 1 }
    ],
    "no-trailing-spaces": 2,
    "react/jsx-closing-tag-location": 2,
    "react/prop-types": 0,
    "react/jsx-closing-bracket-location": [
      2,
      "line-aligned"
    ],
    "no-param-reassign": 2,
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "consistent-return": 2,
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ]
  }
}